body, html {
    height: 100%;
    margin: 0;
}

body {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    justify-content: center;
}

.rectangle-box {
    width: 1200px;
    height: 50px;
    background-color: #333;
    border: 2px solid #ccc;
    border-radius: 15px;
    position: absolute;
    bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.center-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.btn {
    color: #fff;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.btn:hover {
    color: #ffcc00;
}

.volume-container {
    margin-left: auto;
    display: flex;
    align-items: center;
    position: relative;
}

.volume-slider {
    height: 100px;
    width: 8px;
    writing-mode: bt-lr;
    -webkit-appearance: slider-vertical;
    appearance: slider-vertical;
    display: none;
    position: absolute;
    bottom: 40px;
    left: 68%;
    transform: translateX(-50%);
}

.bars-btn-container {
    position: absolute;
    left: 10px;
}

/* Dropdown styles */
.options-container {
    position: absolute;
    left: 140px;
    top: 500px; /* Adjust this to move it closer to the bar button */
    background-color: #444;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    padding: 10px;
}

.option-btn {
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    text-align: left;
    width: 60px;
}

.option-btn:hover {
    background-color: #555;
}

.selected {
    background-color: #ffcc00;
}

.image-popup {
    position: absolute;
    bottom: 90px;
    right: 65px;
    background-color: #444;
    padding: 10px;
    border-radius: 10px;
    display: none;
    flex-wrap: wrap;
    gap: 10px;
    /*max-width: 1500px;*/
    max-height: 500px;
    overflow-x: auto; /* Enables horizontal scrolling */
    white-space: nowrap; /* Keeps images in a single line */
    max-width: 90vw; /* Adjust based on screen size */
}

.image-container {
display: flex;
gap: 10px; /* Space between images */
}

.popup-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 8px;
    flex-shrink: 0; /* Prevents images from shrinking */
}

.popup-image:hover {
    border-color: #ffcc00;
}